/*
@import url('style.css')
*/


h1 {
color: greenyellow;
}

.box{
    color: blue;
}

span.box{
    color: purple 
}
.right{
    display: block;
    text-align: right
}
.box, .right, h1 { }

#green{
background: green;
}
[privet="ok"]{
    color: hotpink;
}
/*
*{
    color: salmon
}
*/
.someBg{
    width: 300px;
    height: 300px;
    background-color: red;
    background-image: url('faceb.png');
    /* background-attachment: fixed;
    */
    
}