
.text{
    text-align: justify;
    /* выравнивает техт, распределяя слова, прижимая к краям родителя
    */
    text-align-last: justify;
    /* влияет на последнюю строку в тексте
    */
    text-transform: uppercase;
    /* делает все ьукві в словах заглавніми
    lowercace - делает все буквы прописными
    capitalize - dct 1-e все первые буквы прописные
    */
    white-space: nowrap;

    /* nowrap - запрещает перенос строкp
    pre -  проблемы в тексте не игнорируются, браузер
    отображает все переносы и пробелы
pre-wrap - сщхраняет пробелы в тексте делая разрывы строк, там где необходимо
pre-line - удаляет все лишние пробелы, за исключением br
break-all - начинают работать переносы слов. Перенос слов не применяется
keep-all - запрещает разрыввы между парами слов

    */
    word-break: break-all;


}
.calc{
    background: red;
    height: 50px;
    width: calc(50% + 100px);
}
/*
    поддерживает + - * /
    также можно принимать ()
    до и после знака нужно ставить 1 пробел
*/